.corporate-entity {
  padding-bottom: 80px;

  .corporate-title {
    @extend .segoe-regular;
    margin-bottom: 1px;
  
    font-size: 28px;
    color: $blue-100;
  }

  .corporate-btn {
    @extend .segoe-regular;
    padding: 0;

    font-size: 14px;
    color: $gray-300;

    background-color: transparent;

    &:hover {
      background-color: transparent;
    }

    img {
      margin-right: 5px;
    }
  }

  .corporate-entity-block-one {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-top: 20px;

    border-bottom: 1px solid $gray-25;

    .content-title {
      display: flex;
      align-items: center;

      .corporate-btn {
        margin-left: 5px;
      }
    }
    &-legal-info {
      p {
        margin-bottom: 10px;

        &:nth-child(2) {
          margin-bottom: 23px;
        }
      }
    }

    .corporate-inheritance {
      @extend .segoe-regular;
      margin-bottom: 17px;

      font-size: 18px;
      color: $blue-100;
    }

    .coporate-type {
      @extend .segoe-regular;
      margin-bottom: 24px;

      font-size: 18px;
      color: $yellow-100;
    }
  }

  .tel-one {
    position: relative;

    padding-left: 24px;

    &:before {
      content: url(../assets/svg/ic_phone.svg);

      position: absolute;
      left: 0;
    }
  }

  .fax {
    position: relative;

    padding-left: 24px;

    &:before {
      content: url(../assets/svg/ic_print.svg);

      position: absolute;
      left: 0;
    }
  }

  .company-address {
    position: relative;

    padding-left: 24px;

    &:before {
      content: url(../assets/svg/ic_place.svg);

      position: absolute;
      left: 0;
    }
  }

  .corporate-email {
    position: relative;

    padding-left: 24px;

    &:before {
      content: url(../assets/svg/ic_email.svg);

      position: absolute;
      left: 0;
    }
  }

  .corporate-domain {
    position: relative;

    padding-left: 24px;

    &:before {
      content: url(../assets/svg/ic_public.svg);

      position: absolute;
      left: 0;
    }
  }

  .corporate-entity-block-two {
    display: flex;

    margin-top: 20px;

    & > div{
      margin-right: 50px;
    }


    .contact-person-wrapper {
      width: 454px;

      border: 1px solid $gray-25;
      
      .contact-person-title {
        @extend .segoe-regular;
        font-size: 18px;
        color: $gray-10;
      }

      .tel-one {
        position: relative;
  
        padding-left: 24px;
  
        &:before {
          content: url(../assets/svg/ic_phone.svg);
  
          position: absolute;
          left: 0;
        }
      }

 
    }

    .contact-person-name {
      @extend .segoe-regular;
 
      margin-bottom: 5px;

      font-size: 20px;
      font-weight: 600;
      color: $blue-100;
    }

    .contact-person-designation {
      @extend .segoe-regular;
      margin-bottom: 15px;

      font-size: 16px;
      color: $gray-10;
    }

    .contact-person-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;

      .contact-person-title {
        margin-bottom: 0;
      }
    }

    .cotant-person-container {
      display: flex;
      padding: 20px;
      width: 100%;

      border: 1px solid $gray-25;

      cursor: pointer;

      &:hover {

        transition: all .3s ease-in-out;

        background: $blue-100;
        .contact-person-name, .contact-person-designation, .tel-one, .button  {
          color: $white;
        }
      }

      .contact-person-box {
        flex-basis: 49%;
        width: 100%;
      }

      .corporate-buttons {
        display: flex;
        flex-basis: 49%;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 100%;

        &:hover {
          background-color: transparent;
        }

        .button {
          background: transparent;
        }
      }
    }

    .business-unit-wrapper {
      border: 1px solid $gray-25;

      .business-unit-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;

        .business-unit-edit {
          display: flex;
        }
      }

      .business-unit-box {
        padding: 20px;

        border: 1px solid $gray-25;
      }
    
      .business-unit-title {
        @extend .segoe-regular;
        margin-bottom: 0;

        font-size: 18px;
        color: $gray-10;
      }

      .unit-name {
        @extend .segoe-regular;
 
        margin-bottom: 5px;
  
        font-size: 20px;
        font-weight: 600;
        color: $blue-100;
      }
    }
  }
}