.modal-legal-info-wrapper {
  padding: 60px;

  .innertab-wrapper {
    margin-top: 0;

  }
  
  .input-title {
    @extend .segoe-regular;
    font-size: 14px;
    color: $gray-5;
  }
  .ui.input {
    margin-top: 5px;

    input {
   
      height: 37px;
  
      border: 1px solid #cbcbcb;
      border-radius: 3px;
    }
  }


  .legal-info-header {
    border-bottom: 1px solid $gray-25;

    .legal-info-title {
      @extend .segoe-regular;
      width: fit-content;

      font-size: 18px;
     
      color: $brand-color;
 
      border-bottom: 1px solid $brand-color;
    }
  }

  .legal-modal-block-one {
    display: flex;
    margin: 24px 0;

    .input-wrapper {
      flex-basis: 33.33%;

      input {
        width: 291px;
        
      }
    }
  }

  .legal-modal-block-two {
    display: flex;
    margin-bottom: 24px;

    & > div {
      flex-basis: 33.33%;
    }

    .legal-number {
      margin-bottom: 5px;

      input {
      
        width: 291px;
        height: 37px;
  
        border: 1px solid #cbcbcb;
        border-radius: 3px;
      }
    }

    .legal-number-wrapper {
      margin-top: 5px;
    }
  
    .legal-fax-wrapper {
      display: flex;
      width: 291px;

      .input-wrapper {
        margin-right: 5px;
        width: auto;

        input {
          width: 59px;
        }
      }
    }

    .input-domain {
      width: 291px;
    }
  }

  .legal-modal-block-three   {
    display: flex;
    margin-bottom: 24px;

    .legal-city, .legal-street, .legal-country  {
      flex-basis: 33.33%;
   
    }

    .legal-street-wrapper, .legal-city-wrapper, .legal-country-wrapper {
      display: flex;
      justify-content: space-between;
      width: 291px;
    }


    .legal-city {
      .input-wrapper{
        width: auto;

        input {
          width: 291px;
        }
      }

      .legal-city-wrapper {
        width: 100%;
      }
    }

    .legal-country {
      .input-wrapper{
        width: auto;
      }

      .legal-country-wrapper {
        .country {
          margin-top: 5px;
          width: 202px;
        }

        .zipcode {
          width: 73px;
        }
      }
    }


    .legal-street {
      .input-wrapper{
        width: auto;
      }
        
      .street-num {
        width: 66px;
      }

      .street {
        width: 216px;
      }
    }
  }

  .legal-info-button {
    .corporate-mod-btn {
      @extend .segoe-regular;
      width: 105px;
      height: 37px;

      font-size: 14px;
      text-transform: uppercase;

      border-radius: 100px;

    }
  }
}