/**  Copyright 2020 MonetaGo, Inc.  All Rights Reserved.
 *  This code is copyrighted material that is confidential andproprietary to MonetaGo, Inc.
 *  and may not (in whole or in part) be published, publicly displayed,copied, modified or
 *  used in any way other than as expressly permitted in a writtenagreement executed by
 *  MonetaGo, Inc.  No portion of this code may be used to createderivative works or exploited
 *  in any other way without MonetaGo, Inc.’s prior written consent.  Noportion of this code
 *  may be transmitted or redistributed to any person without MonetaGo,Inc.’s prior written
 *  consent. This notice may not be deleted or modified without MonetaGo,Inc.’s consent.
 */

.ui.avatar.image {
  margin: 0 10px 10px 0;
}

.action-menu-icon {
  margin-right: 5%;
}

.edit-container {
  display: flex;
  flex-direction: column;
  padding: 76px 115px;
  width: 100%;
  height: 100%;

  .edit-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // padding: 0 0 0 15px;
    margin-bottom: 20px;
    width: 100%;
  }

  .edit-header > div > div > h3 {
    margin: 0;
  }

  .edit-name-display {
    margin-left: 10px;
  }

  .edit-summary {
    display: flex;
    flex-direction: row;

    h3 {
      font-size: 26px;
      font-weight: 500;
    }

    .status {
      font-size: 12px;
      color: #fff;
      text-align: center;

      border-radius: 12px;

      opacity: 1;

      background: #45a5ef 0% 0% no-repeat padding-box;
    }

    .role {
      font-size: 16px;
    }

    .avatar-icon {
      font-size: 22px;
    }
  }
}

.edit-user-container {
  display: flex;
  flex-direction: column;

  height: 100%;

  border-top: 1px solid $gray-100;

  .edit-password {
    position: relative;

    .reset {
      position: absolute;
      top: 24%;
      right: 20px;

      font-family: $font-segoe-ui;
      font-size: 14px;
      font-weight: 700;
      color: $blue-100;

      cursor: pointer;
    }
  }

  .reset {
    // z-index: 999;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    // padding-left: 8px;

    // margin-top: -10.5%;
    // margin-right: 5px;
    // margin-bottom: 20px;
    // width: fit-content;

    // height: 45px;

    // font-size: 14px;
    // font-weight: 700;
    // color: #182e58;

    // background-color: #fff;

    // align-self: flex-end;
    // p {
    //   cursor: pointer;
    // }
  }

  .edit-user-title {
    margin: 20px 0;

    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    color: #182e58;
    text-align: left;

    opacity: 1;
  }

  .fullwidth-inputs {
    margin-bottom: 20px;
    width: 100%;
    height: 50px;

    font-size: 16px;
    color: #182e58;
  }

  .fullname-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;

    .input-wrapper {
      width: 49%;
    }

    .halfwidth-inputs {
      margin-bottom: 20px;
      width: 100%;
      height: 50px;

      font-size: 16px;
      color: #182e58;
    }
  }

  .actions {
    margin-top: 3%;
    width: 100%;

    text-align: end;

    .cancel-btn {
      width: 150px;
    }

    .create-btn {
      width: 200px;
    }
  }
}

@include respond-to(lg) {
  .edit-container {
    .edit-header {
      .edit-summary {
        .avatar-icon {
          font-size: 19px;
        }
        .role {
          font-size: 14px;
        }
        h3 {
          font-size: 23px;
        }
        .status {
          font-size: 10px;
        }
      }
    }

    .edit-user-container {
      .fullwidth-inputs {
        margin-bottom: 15px;
        height: 45px;
      }

      .fullname-container {
        display: block;

        .input-wrapper {
          width: 100%;
        }

        .halfwidth-inputs {
          margin-bottom: 15px;
          height: 45px;
        }
      }
      .reset {
        margin-top: -17%;
        margin-right: 5px;
        margin-bottom: 17px;
        height: 40px;

        font-size: 12px;
      }

      .actions {
        text-align: right;

        .cancel-btn {
          width: 152.5px;
          height: 45px;

          font-size: 14px;
        }
        .create-btn {
          width: 152.5px;
          height: 45px;

          font-size: 14px;
        }
      }
    }
  }
}
