/**Copyright 2020 MonetaGo, Inc.  All Rights Reserved.
*  This code is copyrighted material that is confidential andproprietary to MonetaGo, Inc.
*  and may not (in whole or in part) be published, publicly displayed,copied, modified or
*  used in any way other than as expressly permitted in a writtenagreement executed by
*  MonetaGo, Inc.  No portion of this code may be used to createderivative works or exploited
*  in any other way without MonetaGo, Inc.’s prior written consent.  Noportion of this code
*  may be transmitted or redistributed to any person without MonetaGo,Inc.’s prior written
*  consent. This notice may not be deleted or modified without MonetaGo,Inc.’s consent.
*/

//Forgot password styles
.forgotpass-wrapper {
  margin: auto;
  height: 100%;

  text-align: -webkit-center;

  .forgotpass-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 400px;

    height: 100%;

    .forgotpass-logo {
      margin-bottom: 83.63px;
    }
  
    .forgotpass-subtitle {
      margin: 10px 0 40px;
    }
  
    .forgotpass-btn {
      margin-top: 60px;
      width: 100%;
      height: 70px;
    }
  
    .forgotpass-link {
      margin-top: 75px;
    }
  }
}

@include respond-to(lg) {
  .forgotpass-wrapper {

    .forgotpass-content {
      width: 315px;
    }
  }
}
//end of forgot password styles