/**  Copyright 2020 MonetaGo, Inc.  All Rights Reserved.
 *  This code is copyrighted material that is confidential andproprietary to MonetaGo, Inc.
 *  and may not (in whole or in part) be published, publicly displayed,copied, modified or
 *  used in any way other than as expressly permitted in a writtenagreement executed by
 *  MonetaGo, Inc.  No portion of this code may be used to createderivative works or exploited
 *  in any other way without MonetaGo, Inc.’s prior written consent.  Noportion of this code
 *  may be transmitted or redistributed to any person without MonetaGo,Inc.’s prior written
 *  consent. This notice may not be deleted or modified without MonetaGo,Inc.’s consent.
 */

.flex-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.org-card {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    padding: 10px;
    margin: 0 25px 25px 0;

    width: 260px;

    // width: auto;
    height: 280px;

    border: 1px solid $gray-100;
    border-radius: 5px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ellipsis {
      cursor: pointer;
    }
  }

  &-status {
    @extend .flex-content;

    width: 60px;
    height: 24px;

    text-transform: capitalize;

    border-radius: 12px;

    &.inactive {
      background-color: $gray-400;
    }

    &.active {
      background-color: $blue-400;
    }
  }

  &-content {
    padding: 20px 0 15px;
    margin: 0 30px;

    text-align: center;

    border-bottom: 1px solid $gray-50;
  }

  &-avatar {
    @extend .flex-content;
    margin: 0 auto;

    width: 50px;
    height: 50px;

    font-family: $font-segoe-ui;
    font-size: 26px;
    font-weight: 400;
    color: $white;

    background-color: $green-100;

    border-radius: 50%;
  }

  &-name {
    margin: 10px 0 5px;

    font-family: $font-segoe-ui;
    font-size: 16px;
    font-weight: 600;
  }

  &-type-wrapper {
    text-align: center;
  }

  &-type {
    margin: 15px 0 20px;
  }

  &-user {
    margin-left: 8px;

    font-family: $font-segoe-ui;
    font-size: 15px;
    font-weight: 700;
    color: $blue-100;
    text-decoration: underline;

    cursor: pointer;
  }

  &-user-wrapper {
    @extend .flex-content;
  }

  &-option {
    margin-bottom: 15px;

    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-option-txt {
    margin-left: 8px;
  }
}