/**  Copyright 2020 MonetaGo, Inc.  All Rights Reserved.
 *  This code is copyrighted material that is confidential andproprietary to MonetaGo, Inc.
 *  and may not (in whole or in part) be published, publicly displayed,copied, modified or
 *  used in any way other than as expressly permitted in a writtenagreement executed by
 *  MonetaGo, Inc.  No portion of this code may be used to createderivative works or exploited
 *  in any other way without MonetaGo, Inc.’s prior written consent.  Noportion of this code
 *  may be transmitted or redistributed to any person without MonetaGo,Inc.’s prior written
 *  consent. This notice may not be deleted or modified without MonetaGo,Inc.’s consent.
 */

.org-card-list {
  .search-input {
    margin: 40px 0 30px;
    width: 460px;
  }

  .table-filter {
    margin-bottom: 30px;
  }
}

@include respond-to(lg) {
  .org-card-list {
    .table-filter {
      margin-bottom: 20px;
      width: 100%;
    }
  }
}