.ui.tiny.modal.transition.visible.active {
  top: 50%;
  right: 5%;

  overflow-y: hidden;

  transform: translate(0, -50%);
}
.set-role-content {
  padding: 40px !important;

  .modal-form-title {
    margin-bottom: 10px;
  }

  .dropdown-select-role {
    width: 100%;
  }

  .btn-container {
    margin-top: 20px;
    width: 100%;

    text-align: -webkit-right;

    .btn-cancel {
      margin-right: 10px;
      width: 140px;
    }

    .btn-save {
      width: 200px;
    }
  }
}

@include respond-to(lg) {
  .ui.tiny.modal.transition.visible.active {
    width: 335px;
  }

  .set-role-content {
    .modal-form-title {
      font-size: 23px;
    }
    .dropdown-select-role {
      height: 40px;

      font-size: 16px;
    }
    .btn-container {
      .btn-cancel {
        width: 100px;
        height: 40px;

        font-size: 12px;
      }
      .btn-save {
        width: 130px;
        height: 40px;

        font-size: 12px;
      }
    }
  }
}
